@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
:root {
  --body-bg: rgb(15, 17, 26);
  --body-image: none;
  --body-bg-rgb: 15, 17, 26;
  --body-border: rgb(34, 38, 58);
  --body-primary-color: #ffffff;
  --body-secondary-color: #e8e8e8;
  --body-reaction-bg: rgb(24, 28, 42);
  --body-toc-active-border: #f2f2f2;
  --body-toc-inactive-border: #737373;
  --body-toc-inactive-color: #e8e8e8;
  --body-toc-active-font-weight: 600;
  --body-table-border: rgb(52, 59, 91);
  --body-color: hsl(0, 0%, 0%);
  --footer-bg: rgb(22, 25, 36);
  --footer-image: none;
  --footer-border: rgb(41, 47, 68);
  --footer-color: hsl(0, 0%, 100%);
  --header-bg: none;
  --header-image: linear-gradient(to bottom right, #c5161e, #fbc024);
  --header-color: hsl(0, 0%, 100%);
  --collection-card-bg: rgb(15, 17, 26);
  --collection-card-image: none;
  --collection-card-color: hsl(195, 100%, 40%);
  --card-bg: rgb(17, 19, 29);
  --card-border-color: rgb(34, 38, 58);
  --card-border-inner-radius: 6px;
  --card-border-radius: 8px;
  --card-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --search-bar-border-radius: 10px;
  --search-bar-width: 100%;
  --ticket-blue-bg-color: #273553;
  --ticket-blue-text-color: #6699ff;
  --ticket-green-bg-color: #18492b;
  --ticket-green-text-color: #14b856;
  --ticket-orange-bg-color: #4c1701;
  --ticket-orange-text-color: #ff9466;
  --header-height: 405px;
  --header-subheader-background-color: #161924;
  --header-subheader-font-color: #f0f0f0;
  --content-block-bg: rgb(255, 255, 255);
  --content-block-image: none;
  --content-block-color: hsl(0, 0%, 10%);
  --content-block-button-bg: rgb(51, 75, 250);
  --content-block-button-image: none;
  --content-block-button-color: hsl(0, 0%, 100%);
  --content-block-button-radius: 6px;
  --primary-color: hsl(195, 100%, 40%);
  --primary-color-alpha-10: hsla(195, 100%, 40%, 0.1);
  --primary-color-alpha-60: hsla(195, 100%, 40%, 0.6);
  --text-on-primary-color: #1a1a1a;
}

:root {
  --font-family-primary: system-ui, "Segoe UI", "Roboto", "Helvetica", "Arial",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --font-family-secondary: system-ui, "Segoe UI", "Roboto", "Helvetica", "Arial",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#search-bar {
  --search-bar-width: 100%;
}

#header {
  --header-height: 405px;
}

.fade-background {
  background: radial-gradient(
      333.38% 100% at 50% 0%,
      rgba(var(--body-bg-rgb), 0) 0%,
      rgba(var(--body-bg-rgb), 0.00925356) 11.67%,
      rgba(var(--body-bg-rgb), 0.0337355) 21.17%,
      rgba(var(--body-bg-rgb), 0.0718242) 28.85%,
      rgba(var(--body-bg-rgb), 0.121898) 35.03%,
      rgba(var(--body-bg-rgb), 0.182336) 40.05%,
      rgba(var(--body-bg-rgb), 0.251516) 44.25%,
      rgba(var(--body-bg-rgb), 0.327818) 47.96%,
      rgba(var(--body-bg-rgb), 0.409618) 51.51%,
      rgba(var(--body-bg-rgb), 0.495297) 55.23%,
      rgba(var(--body-bg-rgb), 0.583232) 59.47%,
      rgba(var(--body-bg-rgb), 0.671801) 64.55%,
      rgba(var(--body-bg-rgb), 0.759385) 70.81%,
      rgba(var(--body-bg-rgb), 0.84436) 78.58%,
      rgba(var(--body-bg-rgb), 0.9551) 88.2%,
      rgba(var(--body-bg-rgb), 1) 100%
    ),
    var(--header-image), var(--header-bg);
  background-size: cover;
  background-position-x: center;
}

.c-logo-text {
  background: linear-gradient(135deg, #ffd700, #2e2e60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Cookie", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}
